@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #ffffff;
  text-decoration: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-sedan;
  background-color: white;
  color: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Sedan';
  src: url('/assets/fonts/Sedan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SedanSC';
  src: url('/assets/fonts/SedanSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


